.colorBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

.colorBox div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.colorBox h1{
    text-align: center;
}

.color{
    padding: 20px;
    width: 100%;
    text-align: center;
}